{{ attach_library('classy/node') }}

<a href="{{ url }}">
    <div class="flag flag-red">Actu AEE</div>
    <img src="./themes/os_base/imgs/TOSS.jpg" alt="">
    <p>{{ label }}</p>
    <span class="date">{{ date }}</span>
</a>
