<div id="wrapper" class="article">
    <header>
        <img src="../themes/os_base/imgs/LogoAEE-300.png" alt="">
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="categories.html">LES ACTUS</a></li>
                <li><a href="clubs.html">LES CLUBS</a></li>
                <li><a href="#">calendrier</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="login.html">Espace adherent</a></li>
            </ul>
        </nav>
    </header>

    <section role="main">
        <header>
            <img src="../themes/os_base/imgs/ploumanach.jpg" alt="" class="head">
        </header>

        <section class="content">
            {%
              set classes = [
                'node',
                'node--type-' ~ node.bundle|clean_class,
                node.isPromoted() ? 'node--promoted',
                node.isSticky() ? 'node--sticky',
                not node.isPublished() ? 'node--unpublished',
                view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
                'clearfix',
              ]
            %}
            {{ attach_library('classy/node') }}
            <article{{ attributes.addClass(classes) }}>
            {{ dump(content) }}
            </article>

            <aside>
                <div class="aside-part">
                    <form action="">
                        <input type="search">
                        <input type="submit">
                    </form>
                </div>


                <div class="aside-part">
                    <ul>
                        <li>Lorem</li>
                        <li>dolor</li>
                        <li>sit</li>
                        <li>amet</li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>

    </div>
