<div id="wrapper" class="article">
    <header>
        <img src="./themes/os_base/imgs/LogoAEE-300.png" alt="">
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="categories.html">LES ACTUS</a></li>
                <li><a href="clubs.html">LES CLUBS</a></li>
                <li><a href="#">calendrier</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="login.html">Espace adherent</a></li>
            </ul>
        </nav>
    </header>

    <section role="main">
        <header>
            <img src="./themes/os_base/imgs/ploumanach.jpg" alt="" class="head">
        </header>

        <section class="content">
            <article>
                <div class="centerDiv">
                    <h2>Les nouveaux goodies de l'AEE sont en pré-commande !</h2>
                    <h3>Sous titre</h3>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et sint, illo obcaecati magni similique molestias facilis, nulla, accusamus asperiores atque, voluptatum rerum repellendus praesentium voluptate quia reiciendis veritatis a.</span>
                        <span>Molestias iste iure inventore illo porro at voluptas ratione possimus labore culpa ea asperiores consequuntur praesentium omnis nesciunt maiores, quidem quas, ullam accusamus ad itaque eos delectus. Ipsa, vitae, qui?</span>
                        <span>Impedit illo nemo sint praesentium, beatae. Explicabo aliquam, totam, fuga facilis corrupti aspernatur reprehenderit atque eos quod fugiat ullam, similique vitae doloribus. Deleniti, repellat beatae dolor quod magni error, neque?</span>
                        <span>Veritatis labore minus tempore quis impedit tempora, earum corrupti obcaecati explicabo, doloribus, libero! Fugiat autem dicta corporis possimus tempore, totam doloribus obcaecati in, nobis, beatae reiciendis ut accusantium repellendus quis.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo est cum labore sed aspernatur mollitia, vel molestiae sit error magni maxime enim natus? Assumenda accusantium voluptatum aut est consequatur ea.</p>

                        <h3>Sous titre 2 </h3>
                        <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos velit, doloribus non aliquam assumenda asperiores harum magnam, maiores natus blanditiis impedit dicta tenetur, minus! Facere atque porro, sapiente voluptatem sunt.</span><span>Illum, sequi aliquid veniam asperiores accusamus quae voluptas dolorum culpa pariatur! Esse ab, officiis quae eum possimus, totam, modi excepturi provident, dicta hic ipsum ea magni deserunt officia. Vitae, ipsa!</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic blanditiis reprehenderit dolorem, quo quibusdam repudiandae accusantium aut repellat atque assumenda? Dolore assumenda, maiores ab veritatis ipsum sunt quia nulla laborum?
                        </p>

                        <h3>Conclusion</h3>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ullam id, natus consequuntur eius porro, aspernatur assumenda, soluta quidem numquam sunt delectus excepturi odio similique blanditiis itaque dolorum mollitia molestias.</span><span>Soluta in nihil cumque placeat, assumenda reiciendis voluptatem, ad, nobis nulla sapiente delectus repellendus perspiciatis expedita officia atque a corporis quo quasi eos ex natus provident. Non blanditiis, at fuga!</span></p>
                </div>
            </article>
            <aside>
                <div class="aside-part">
                    <form action="">
                        <input type="search">
                        <input type="submit">
                    </form>
                </div>


                <div class="aside-part">
                    <ul>
                        <li>Lorem</li>
                        <li>dolor</li>
                        <li>sit</li>
                        <li>amet</li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>

    </div>
